@import '~antd/dist/antd.css';

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.call {
  width: 400px;
  margin: 20px auto;
  min-height: 500px;
}

.operate {
  margin-top: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.form-line {
  margin-bottom: 15px;
}

.list {
  display: flex;
  justify-content: flex-start;
}

.list span {
  margin-right: 15px;
}

.wrap-video {
  display: flex;
  flex-direction: column-reverse;
}

.wrap-video video {
  width: 300px;
  height: 169px;
}
