@import '~antd/dist/antd.css';

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.call {
  width: 400px;
  margin: 20px auto;
  min-height: 500px;
}

.operate {
  margin-top: 20px;
  display: flex;
  padding: 0 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.form-line {
  margin-bottom: 15px;
}

.list {
  display: flex;
  justify-content: flex-start;
}

.list span {
  margin-right: 15px;
}

.users {
  width: 100%;
  display: flex;
}

.im-box {
  position: absolute;
  right: 0;
  width: 300px;
  height: 400px;
  border: 1px solid lightslategray;
  background-color: #fff;
  padding-bottom: 30px;
}

.im-box .message {
  height: 100%;
  overflow: auto;
}

.im-box .input {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.im-box .im-input {
  width: 100%;
  margin: 0;
  padding-right: 20%;
}

.im-box .im-btn {
  margin: 0;
  width: 20%;
  position: absolute;
  right: 0;
}

.im-box ul {
  padding: 0;
  list-style: none;
}
.im-box ul li {
  padding: 5px 15px 5px;
  border-bottom: 1px solid lightslategray;
}

.im-box ul .msg {
  display: flex;
  flex-flow: column;
}

.im-box ul .msg .name {
  font-size: 12px;
  color: blueviolet;
}

.im-box ul li.reverse {
  text-align: right;
}

.video-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-video {
  display: flex;
  flex-direction: column-reverse;
  width: 300px;
  margin: 0 10px;
  position: relative;
  height: 200px;
  background-color: #dae8ff;
}

.wrap-video .video {
  width: 300px;
  height: 169px;
  position: absolute;
  left: 0;
  top: 0;
}

.wrap-video .video-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-video .video + video {
  transform: rotateY(180deg);
}
